# --------- pytorch --------- #
torch>=1.10.0
torchvision>=0.11.0
torchaudio>=0.12.1
pytorch-lightning==1.8.1
torchmetrics==0.10.2
einops

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
# wandb
# neptune-client
# mlflow
# comet-ml

# --------- data / audio --------- #
soundfile
av
pandas          # dataframes

# --------- others --------- #
pyrootutils     # standardizing the project root setup
rich            # beautiful text formatting in terminal
pytest          # tests
tqdm
diffusers
transformers